.imagem-fundo {
    width: 100%;
    height: 600px;
    margin: 0px;
    opacity: 75%;
}

.titulo {
     margin: 75px 400px;
}

.lore {
    padding:  5% 40%;
    font-size: 20px;
}

.link {
    margin: 75px 510px;
    padding:  10px;
    background-color: rgb(114, 123, 58);
    font-size: 15px;
    color: rgb(55, 71, 29);
    border-radius: 10px;
    text-decoration: none;
}