body {
    background-image: url(../Imagens/naoya-zenin.webp);
    opacity: 85%;
}

main {
    margin: 0px 0px 0px 0px;
}
.titulo {
     margin: 0px 400px;
     color: white;
}

.lore {
    padding:  5% 40%;
    font-size: 20px;
    color: white;
}

.link {
    margin: 0px 10px 45px 510px;
    padding:  10px;
    background-color: rgb(114, 123, 58);
    font-size: 15px;
    color: rgb(55, 71, 29);
    border-radius: 10px;
    text-decoration: none;
}