@media (max-width: 768px) {
    body {
        padding: 1em;
    }
    form {
        width: 95%;
        padding: 0.8em;
    }
    #titulo {
        font-size: 1.5em;
    }

    #subtitulo {
        font-size: 1em;
    }
    fieldset.grupo .campo {
        float: none;
    }
}